# Ye sirf EXAMPLE hai — actual values Railway Variables mein dalna hai
# Private key KABHI GitHub par upload mat karna!

PRIV_KEY=0x
BUY_AMOUNT_ETH=0.005
AUTO_DETECT_V2=true
AUTO_DETECT_V3=true
V2_PAIR_ADDRESS=
V3_POOL_ADDRESS=
V3_POOL_FEE=3000
BASE_RPC=https://mainnet.base.org
SLIPPAGE_PERCENT=20
MAX_FEE_GWEI=100
MAX_PRIORITY_GWEI=10
ONE_TIME_BUY=true
POLL_SECONDS=0.5
